.has-border-radius-5{
  border-radius: 5px;
}

.has-border-radius-10{
  border-radius: 10px;
}

.has-border-radius-500{
  border-radius: 500px;
}

.has-overflow-hidden{
  overflow: hidden;
}

.has-overflow-scroll{
  overflow: scroll;
}

.has-height-100-percent{
  height: 100%;
}


.has-height-100-percent-mobile{
  @include for-size(phone-only) {
    height: 100%;

  }
}


.has-min-height-100-percent{
  min-height: 100%;
}

.has-width-100-percent{
  width: 100%;
}

.has-max-width-100-vw{
  max-width: 100vw;
}

.has-width-auto{
  width: auto !important;
}

.has-max-width-400{
  max-width: 400px;
}

.is-semi-rounded{
  border-radius: 6px !important;
  overflow: hidden;
}

.is-loading{
  opacity: 0.6 !important;
  pointer-events: none !important;
}

.is-disabled{
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}


.is-absolute-expanded{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-absolute-expanded-mobile{
  @include for-size(phone-only) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.is-fixed-bottom-mobile{
  @include for-size(phone-only) {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
    bottom: 0;
  }
}

.is-fixed-top-tablet{
  @include for-size(tablet-portrait-up) {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
    top: 0;
  }
}


.has-no-borer-radius-mobile{
  @include for-size(phone-only) {
    border-radius: 0 !important;
  }
}

.has-z-index-1{
  z-index: 1;
}

.ok-has-black-overlay-80{
  position: relative;

  &::before{
    z-index: 0 !important;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.60);
  }
}