<template>
    <div>
        Register
    </div>
</template>

<style scoped>

</style>

<script lang="ts">
    import { Component, Vue } from "nuxt-property-decorator"

    @Component({
        name: "OkRegisterPage"
    })
    export default class OkRegisterPage extends Vue {

        mounted() {

        }
    }
</script>